@import "main";

header,
header a {
    background-color: black;
}

body {
    background-color: white!important;
}

main {
    background-color: white!important;
}

h1, h2, p, a{
    background-color:white;
    color: black;
}